body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
}
h1 {
  font-weight: normal;
}
td {
  margin:0;
  border-spacing:0;
}
.clear:after {
	display: block;
	content: '';
	clear: both;
}
.results-table {
  margin-top: 10px;
  font-family: 'Inconsolata', monospace;
  -webkit-column-gap: 40px;
}
.results-table td {
  padding-left: 8px;
  padding-right: 8px;
}
.results-table tr:nth-child(even) {
  background-color: #f3f3f3;
}
.results-table td:first-child {
  padding-left: 0;
}
.device-token-input {
  padding: 3px;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  width: 350px;
}
.filter-input-group {
	display: inline-block;
	float: left;
	margin-right: 15px;
}
.filter-input-group {
	margin-top: 0;
}
.polling-for-data {
	width: 200px;
	float: right;
}
.polling-for-data img {
	width: 16px;
}
.auto-manual-options {
	display: inline-block;
}
#database-filter {
	margin-left: 25px;
}
.alertify {
	font-size: 14px;
	width: 50%;
	left: 25%;
	margin-left:0;
}
.alertify-dialog {
	padding: 15px;
}
.json-to-dom {
	font-family: 'Inconsolata', monospace;
}
.json-to-dom p {
	margin-top: 0;
	margin-bottom: 2px;
}
.json-to-dom p:last-child {
	margin-bottom: 0;
}
.json-to-dom-list-item {
	margin-left: 30px;
}
