<h1>Scala Elasticsearch Explorer</h1>
<h4 class="filter-input-group">
  <strong>database</strong>:
  <input id="database-filter" type="text" class="device-token-input" ng-model="vm.settings.databaseUrl" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
</h4>
<div class="clear"></div>
<h4 class="filter-input-group">
  <strong>device token</strong>:
  <input type="text" class="device-token-input" ng-model="vm.settings.deviceToken" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
</h4>
<h4 class="filter-input-group">
  <strong>application uuid</strong>:
  <input type="text" class="device-token-input" ng-model="vm.settings.applicationUuid" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
</h4>
<div class="clear"></div>
<div class="auto-manual-options">
	<label>
	  <input type="radio" ng-model="vm.autoRefresh" value="true">
	  Auto Refresh
	</label>
	<label>
	  <input type="radio" ng-model="vm.autoRefresh" value="false">
	  Manual Refresh
	</label>
</div>
<div class="polling-for-data" ng-if="vm.autoRefresh === 'true'">
	<img src="assets/images/loading_icon.gif">
	Polling every <strong>{{vm.pollingInterval}}</strong>ms
</div>
<button type="button" ng-click="vm.manualRefresh()" ng-if="vm.autoRefresh === 'false'">Refresh</button>

<results-table data="vm.getData()" ng-if="vm.getData()"></results-table>
<div ng-if="!vm.getData()">No data available</div>
